<section>
    <div class="container">
        <div class="card mb-5">
            <div class="row">
                <div class="col-md-6 px-5 py-4">
                    <div class="card-block">
                        <p class="card-text font-italic">We Will Make Your Vacation Unforgettable</p>
                        <h4 class="card-title text-capitalize">Services we offer:</h4>
                        <div class="row my-3 px-3">
                            <a href="#" class="pr-3 text-success">Insurance</a>
                            <a href="#" class="pr-3 text-success">Flights</a>
                            <a href="#" class="pr-3 text-success">Sightseeing</a>
                            <a href="#" class="pr-3 text-success">Accomodation</a>
                        </div>
                        <p class="card-text">Travel insurance is insurance that is intended to cover medical expenses,
                            trip cancellation, lost luggage, flight accident and other losses incurred while traveling,
                            either internationally or domestically. We strongly suggest taking out the insuarance before
                            you travel. Find the suitable rate for you!</p>
                        <button type="button text-white" class="btn bg-success text-white">Contact us<i
                                class="fa fa-book ml-2"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-img-bottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>