<div id="intro" class="view"></div>


<div class="row col-lg-8 col-md-10 col-sm-10 mx-auto my-5">
    <h2 class="mb-5">About us</h2>

    <p>We are a main online travel organization in Europe giving the best as far as class can tell with
        the objective to be the <strong>best travel planner in Europe</strong>. Through our site, <a routerLink="/"> {{ projectName }} </a>, our versatile
        applications and our other related stages, recreation and business voyagers can investigate, explore, analyze costs and book an
        extensive variety of administrations taking into account their movement needs.</p>
    <p>Since 2006, in excess of 7 million clients
        have utilized at least one of our exhaustive travel-related administrations, which incorporate
        local and global air ticketing, lodging appointments, homestays, occasion bundles, transport ticketing, rail ticketing, exercises
        and subordinate administrations. With more than 83,000 destinations contracted crosswise over Europe, we are Europe's biggest stage
        for residential lodgings.</p>
    <p>As a solid and trustworthy travel brand, our qualities incorporate a vast and faithful client
        base, a multi-channel stage for relaxation and business explorers, a powerful portable eco-framework for a
        range of voyagers and providers, a solid innovation stage intended to convey an abnormal state of adaptability and
        advancement and a prepared senior supervisory crew including industry officials with profound roots in the movement business
        in Europe and abroad.</p>
</div>

<h1 class="">Take a look at our most popular offers</h1>


<div class="row d-flex justify-content-around mx-2 my-5">


    <div class="card" style="width: 30vw;">
        <img src="/assets/est.jpg" class="card-img-top" style="height: 25vw;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tallinn</h5>
            <p class="card-text">No longer the plaything of greater powers – Danish, Swedish, Polish, German and Soviet
                – Tallinn is now a proud European capital with an allure all of its own. It's lively yet peaceful,
                absurdly photogenic and bursting with wonderful sights – ancient churches, medieval streetscapes and
                noble merchants' houses. Throw in delightful food and vibrant modern culture and it's no wonder Tallinn
                seems in danger of being loved to death, especially after a few cruise ships dock. But it's one of those
                blessed places that seems to cope with all the attention.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>23 November - 29 November</strong></li>
            <li class="list-group-item">Prices starting from <strong>189 EUR</strong></li>


        </ul>
        <div class="card-body">
            <h3><a routerLink="/tours"
                    class="card-link text-success d-flex justify-content-center"><strong>Offer</strong></a></h3>
        </div>
    </div>

    <div class="card" style="width: 30vw;">
        <img src="/assets/slo.jpg" class="card-img-top" style="height: 25vw;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Piran</h5>
            <p class="card-text">One of the loveliest towns anywhere along the Adriatic coast, picturesque Piran (Pirano
                in Italian) sits prettily at the tip of a narrow peninsula. Its Old Town – one of the best-preserved
                historical towns anywhere in the Mediterranean – is a gem of Venetian Gothic architecture, but it can be
                a mob scene at the height of summer. In quieter times, it’s hard not to fall instantly in love with the
                atmospheric winding alleyways, the sunsets and the seafood restaurants.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>21 October - 29 October</strong></li>
            <li class="list-group-item">Prices starting from <strong>289 EUR</strong></li>


        </ul>
        <div class="card-body">
            <h3><a routerLink="/tours"
                    class="card-link text-success d-flex justify-content-center"><strong>Offer</strong></a></h3>
        </div>
    </div>


    <div class="card" style="width: 30vw;">
        <img src="/assets/nor.jpg" class="card-img-top" style="height: 25vw;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Oslo</h5>
            <p class="card-text">Surrounded by seven hills and seven fjords, Bergen is a beguiling city. During the
                early Middle Ages, it was an important seaport and a member of the Hanseatic League, as well as Norway's
                capital – a heritage that can still be glimpsed in the beautifully preserved wooden buildings of
                Bryggen, now protected as a Unesco World Heritage site. Chocolate-box, clapperboard houses creep up the
                hillsides, ferries flit around the fjords, and a cluster of excellent art museums provide a welcome
                detour, and not only in case Bergen's notoriously fickle weather sets in.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>19 December - 26 December</strong></li>
            <li class="list-group-item">Prices starting from <strong>389 EUR</strong></li>


        </ul>
        <div class="card-body">
            <h3><a routerLink="/tours"
                    class="card-link text-success d-flex justify-content-center"><strong>Offer</strong></a></h3>
        </div>
    </div>